/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  background-color: #f5f7f9; /* Subtle background outside the main white content if needed */
  color: #333333;
}
* {
  box-sizing: border-box;
}
